@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#polygon-label-parent {
  @apply relative text-white;
}

#polygon-label-background {
  @apply absolute bg-black opacity-80 w-full h-full -z-10 rounded-lg border;
}

#polygon-label-text {
  @apply p-4;
}
